@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Emmeline';
  src: url('/src/font/emmeline/Emmeline Webfont/emmeline-regular-webfont.woff2') format('woff2'),
       url('/src/font/emmeline/Emmeline Webfont/emmeline-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body, #root {
  min-height: 100vh;
}

body {
  @apply text-gray-100;
}
